@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* 🔥 AQUÍ DEFINES TUS TOKENS */
@theme inline {
  --background-image-gradient-video:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.6),
      transparent
    );
}

/* estilos base normales */
html,
body {
  width: 100%;
  height: 100%;
}
